h1 {
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-align: center;
    
}

#prime {
    color: aliceblue;
    font-family:'Edu TAS Beginner','Playpen Sans';
    text-shadow:10px;
    
}

h3 {
    color: rgb(45, 10, 79);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    
}

.bold {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
    background-color: darkgreen;
    font-size: 40px;
    text-align: center;
}

#Blugiallo {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: justify;
}

#legna {
    color:yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 20px;
    text-align: justify;
    background-color: rgba(155, 63, 30, 0.663);
    
}

#music {
    font-family: 'Edu TAS Beginner', cursive;
    color: rgb(19, 19, 184);
    font-size: 25px;
    text-align: justify;
}

body {
    
    background-color: #f2deba;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e1ac4a' fill-opacity='0.46'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

img {
    
    position: relative;
    right: 500px;
    left: 500px;
}

#contatti {
    text-align: center;
}

.fa-facebook {
    
    color:rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;
    font-size: 15px;
    width: 15px;
    height: 15px;
    font-size: 30px;
    text-decoration: none;
}

.fa-twitter {
    
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;
    font-size: 15px;
    height: 15px;
    width: 15px;
    font-size: 30px;
    text-decoration: none;
    
}

.fa-instagram {
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 15px;
    font-size: 15px;
    width: 15px;
    height: 15px;
    font-size: 30px; 
    
    text-decoration: none;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    
}

a:visited {
    color: rgb(255, 14, 187);
    background-color: transparent;
    text-decoration: none;
    
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
    
}
